<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <link rel="stylesheet" type="text/css" href="/style/classes.css">
</head>
<body>
<h1>Classes</h1>
<a th:href="@{/classes/new}"><button type="button">New Class</button></a>



<table border="1">
    <thead>
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Class Description</th>
        <th>Actions</th> <!-- Add a header for the actions -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="class : ${classes}">
        <td th:text="${class.id}"></td>
        <td th:text="${class.name}"></td>
        <td th:text="${class.description}"></td>
        <td>
            <!-- Add an "Edit" button -->
            <a th:href="@{/classes/{id}/edit(id=${class.id})}">Edit</a>
            <!-- Add a "Delete" button -->
            <form th:action="@{/classes/{id}/delete(id=${class.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.location.href = '/';
    }
</script>

</body>
</html>